.fa-home {
    transition: all 0.4s ease;
}

.fa-home:hover {
    color:coral
}

.fa-search {
    transition: all 0.4s ease;
}

.fa-search:hover {
    color:coral
}

.fa-facebook-messenger {
    transition: all 0.4s ease;
}

.fa-facebook-messenger:hover {
    color:coral
}

.fa-compass {
    transition: all 0.4s ease;
}

.fa-compass:hover {
    color:coral
}

.fa-heart {
    transition: all 0.4s ease;
}

.fa-heart:hover {
    color: coral
}

.fa-user-circle {
    transition: all 0.4s ease;
}

.fa-user-circle:hover {
    color:coral
}

.story {
    border-radius: 75%;
    margin-top: 10px;
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

.storyalt {
    font-weight:400;
}

.profil {
    float: left;
    border-radius: 75%;
    margin-top: 8px;
}

.profilalt {
    margin-left: 10px;
    align-items: center;
}

.postpfp {
    float: left;
    border-radius: 75%;
    margin-top: 5px;
}

.postprofil {
    padding-top: 8px;
    margin-left: 35px;
}

.post {
    margin-top: 40px;
    margin-bottom: 10px;
}

.yorumalt {
    margin-top: 15px;
    margin-right: 5px;
    font-weight: lighter;
}

.yorum {
    font-weight: 400;
}

.etkilesim {
    margin-right: 10px;
}